@page
@model AnimalModel
@{
    ViewData["Title"] = "My Favorite Animal";
}

<div class="text-center">
    <h1>My Favorite Animal: Dogs</h1>
    <p>This page demonstrates adding static content to an ASP.NET Core Web App.</p>

    <img src="~/images/favorite_animal.jpg" alt="A picture of my favorite animal" width="600" />
</div>